include config

- months = ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"]
- date_now = new Date()

- function format_stat_number(i) {
-   if( i < 1000 ) {
-       return '<s>' + i + '</s>';
-   } else {
-       big = Math.floor(i/1000);
-       small = i - big*1000 || '000';
-       return '<b>' + big + '</b>' + '<s>' + small + '</s>';
-   }
- }
- function colon_duration_text(sec_total) {
-   var ho, mi, res, da;
-   ho = Math.floor(sec_total / 3600);
-   min = Math.floor( (sec_total - ho*3600) / 60 );
-   sec = sec_total - ho*3600 - min*60;
-   if (min < 10) min = '0' + min;
-   if (sec < 10) sec = '0' + sec;
-   return (ho ? (ho+':') : '') + min + ':' + sec;
- }
- function cardinal(val, form1, form2, form3) {
-   var d10;
-   if (val > 4 && val < 21) return form3;
-   d10 = val % 10;
-   if (d10 == 0 || d10 > 4) return form3;
-   if (d10 == 1) return form1;
-   return form2;
- }
- function duration_text(min) {
-   var ho, mi, res, da;
-   ho = Math.floor(min / 60); mi = min - ho*60;
-   da = Math.floor(ho / 24); ho = ho % 24
-   res = da?da + cardinal(da, " день", " дня", " дней"):"";
-   res+= (res?" ":"") + (ho?ho + cardinal(ho, " час", " часа", " часов"):"");
-   if (mi) res+= (res?" ":"") + mi + cardinal(mi, " минута", " минуты", " минут")
-   return res || "0 минут";
- }
- function date_text_str(str) {
-   try {
-       return date_text(new Date(str));
-   } catch (e) {
-       return str;
-   }
- }
- function date_text(dt) {
-   return dt.getDate() + " " + months[dt.getMonth()] + " " + dt.getFullYear() + " г.";
- }
- function time_text_str(str) {
-   try {
-       return time_text(new Date(str));
-   } catch (e) {
-       return str;
-   }
- }
- function time_text(dt) {
-   var diff, curday, curtime, ho, text, min, input_day, now_day, at_time, tz_offset;
-   diff = (date_now.getTime() - dt.getTime()) / 1000;
-   if (Math.abs(diff) < 60) return "сейчас";
-   if (Math.abs(diff) < 3600) {
-     min = Math.floor( Math.abs(diff) / 60);
-     text = min + cardinal(min, " минуту", " минуты", " минут");
-     if (diff < 0) {
-       return "через " + text;
-     } else {
-       return text + " назад";
-     }
-   }
-   ho = Math.floor( Math.abs(diff) / 3600);
-   if (ho <= 6) {
-     text = ho + cardinal(ho, " час", " часа", " часов");
-     if( diff < 0 ) {
-       return "через " + text;
-     } else {
-       return text + " назад";
-     }
-   }
-   tz_offset = date_now.getTimezoneOffset() * 60 * 1000;
-   input_day = Math.floor( (dt.getTime() - tz_offset)  / 86400000 );
-   now_day = Math.floor( (date_now.getTime() - tz_offset) / 86400000 );
-   at_time = dt.getHours() + ":" + ( dt.getMinutes() < 10 ? "0"  : "" ) + dt.getMinutes();
-   if ( now_day == input_day ) {
-     return "сегодня в " + at_time;
-   } else if ( now_day == input_day+1 )  {
-     return "вчера в " + at_time;
-   }
-   if (dt.getFullYear() == date_now.getFullYear()) return dt.getDate() + " " + months[dt.getMonth()];
-   return dt.getDate() + " " + months[dt.getMonth()] + " " + dt.getFullYear();
- }

mixin film_thumb(item)
    - film_name = item.title + ":" + ( item.season ? (' ' + item.season + " сезон,") : '' ) + ' ' + item.episode + ' серия'
    - date = new Date(item.start)
    - date_str = date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()
    a(href="#", title="")
        .lheight0.fsize0
            .rel.cast-poster-wrapper
                img(src=item.poster, alt=film_name, title=film_name).cast-poster
                .cast-play-btn.zmin
                    .play-triangle
            if item.duration
                .rel.zmin
                    .cast-duration=colon_duration_text(item.duration)
    .cast-thumb-def
        div.cast-name
            a(href=item.url, title="")=film_name
        i.sprite.sprite-i-icon-clock
        span=date_str

mixin person_rating_thumb(item, index, is_star)
        - is_first_class = ''
        if index == 0
            - is_first_class = 'is-first'
        li.person-rating-item(class=is_first_class)
            .thumb-wrapper
                .rating-index
                    if index == 0
                        if is_star
                            .sprite.sprite-i-person-rating-star
                        else
                            .sprite.sprite-i-person-rating-cup
                    else
                        =(index+1) + " "
                        i &mdash;
                img(src=item.img_url, alt="", title="").person-img
            .person-def
                - user_url = '/users/' + item.id
                a(href=user_url).person-name=item.name
                span.sprite.sprite-i-rating
                span.rating-text="Рейтинг: "
                    i=item.rating
                if index == 0
                    .cast-name="Сериал: "
                        i=item.cast_name
                    .star-role="Роль: "
                        i=item.role

mixin cast_news_item(news_item)
    - date = new Date(news_item.date)
    if news_item.img_url && news_item.img_url.length > 0
        img(src=news_item.img_url, alt=news_item.cast_name, title=news_item.cast_name).cast-news-img
    .cast-news-def
        - date_str = date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()
        .cast-news-header
            span.cast-name=news_item.cast_name
            span.cast-date= ' / ' + date_str
        .cast-news-title
            a(href="#")=news_item.title
        .cast-news-text=news_item.text
        - if( news_item.comments_count != null ) {
            .cast-news-comments-count
                span.sprite.sprite-i-speech-bubble
                em=news_item.comments_count
        - }
    .clearboth