include config

- months = ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"]

mixin film_thumb(item)
    - film_name = item.title + ":" + ( item.season ? (' ' + item.season + " сезон,") : '' ) + ' ' + item.episode + ' серия'
    - date = new Date(item.start)
    - date_str = date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()
    img(src=item.poster, alt=film_name, title=film_name).cast-poster
    .cast-thumb-def
        div.film-name
            a(href=item.url, title)=film_name
        i.sprite.sprite-i-icon-clock
        span=date_str

mixin person_rating_thumb(item, index, is_star)
        - is_first_class = ''
        if index == 0
            - is_first_class = 'is-first'
        li.person-rating-item(class=is_first_class)
            .rating-index
                if index == 0
                    if is_star
                        .sprite.sprite-i-person-rating-star
                    else
                        .sprite.sprite-i-person-rating-cup
                else
                    =(index+1) + " "
                    i &mdash;
            img(src=item.img_url, alt="", title="").person-img
            .person-def
                - user_url = '/users/' + item.id
                a(href=user_url).person-name=item.name
                span.sprite.sprite-i-rating
                span.rating-text="Рейтинг: "
                    i=item.rating
                if index == 0
                    .cast-name="Сериал: "
                        i=item.cast_name
                    .star-role="Роль: "
                        i=item.role