include config
doctype html
html
    head
        style.
            th, td {border: 1px solid #000; padding: 4px}
    body
        h2 Device info (hash: #{device_hash})
        table
            tr
                th Param name
                th Value
            if device_info
                each info, index in device_info
                    tr
                        td=index
                        td=info
        h2 Query info
        table
            if query_info
                each info, index in query_info
                    tr
                        td=index
                        td=info
