include config
include mixins
doctype html
html
    - page_title = topic.title
    include head
    body.page-show
        - bg_image = 'background-image: url("' + topics_bg[topic.name] + '")'
        include header
        .topic-wrapper(style=bg_image)
            .shadow-container-wrapper
                .shadow-container
                    section.cast-def-block
                        .container
                            .row
                                .col-lg-3.col-md-4.cast-poster-area
                                    .cast-big-poster
                                        img(src=res.img + topic.name + "_poster.jpg")
                                .col-lg-7.col-md-5.cast-def-area
                                    h3=topic.title
                                    .cast-attrs-list
                                        .cast-attr
                                            span.attr-name Год выпуска:
                                            - release_date = new Date(topic.releasedate * 1000);
                                            span.attr-val=release_date.getFullYear()
                                        .cast-attr
                                            span.attr-name Страна:
                                            span.attr-val=topic.country
                                        .cast-attr
                                            span.attr-name Жанр:
                                            span.attr-val=topic.genre
                                        .cast-attr
                                            span.attr-name Возрастное ограничение:
                                            span.attr-val.pg-rating=topic.pg_rating

                                    .cast-subscribe-btn.btn.btn-success Подписаться
                                    .cast-rating-def
                                        i=topic.rating
                                        em=" (" + topic.votes_cnt + ")"
                                    .rating-stars-area
                                        span Ваша оценка:
                                        span.rating-stars-list
                                            - rating_floor = Math.floor( topic.rating )
                                            - rating_fract = topic.rating - rating_floor
                                            - for( var i = 1; i <= 10; i++ ) {
                                                - star_class = ""
                                                if (i < topic.rating)
                                                    - star_class = "is-active"
                                                else if (rating_floor+1 == i)
                                                    if rating_fract > 0.5
                                                        - star_class = "is-half"
                                                span.sprite.sprite-i-rating-star(class=star_class) &nbsp;
                                            - }
                                    h4 Сюжет
                                    .cast-description=topic.description
                                .col-lg-2.col-md-3.visible-lg-block.visible-md-block.see-also-area
                                    h3 Смотри также
                                    .see-also-poster
                                        img(src=res.img + more_topic.name + "_poster.jpg")
                                    - tmp_url = "/" + more_topic.name
                                    a(href=tmp_url)=more_topic.title
                    section.casts-list
                        .container(data-mi-pid="media_block")
                            include parts/media_block
                    section.page-news-main-block
                        .container
                            include parts/news_block
            include footer
            - conf = {}
            - conf.topic = topic
            script.
                $(document).ready(function () {window.InitApp({page_conf: !{JSON.stringify(conf)}}, "Show")})